{% extends 'base.html.twig' %}

{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}

{% block body %}
    <h1>Cadastrar novo produto</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} } ) }}
        {{ form_widget(form) }}
        <input type="submit" value="Criar" class="btn btn-success"/>
        <a href="{{ path('produtos_index') }}" class="btn btn-warning">
            Voltar a Lista</a>
    {{ form_end(form) }}

            
        
{% endblock %}
